*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  color: $--color-text-primary;
  background-color: #fff;
}

a {
  color: mix(#fff, $--color-primary, 20%);
  text-decoration: none;

  &:focus,
  &:hover {
    color: $--color-primary;
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
}
/* Utils
------------------------------ */
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
/* Animation
------------------------------ */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/* Reset element-ui
------------------------------ */
.site-wrapper {
  .el-pagination {
    margin-top: 15px;
    text-align: right;
  }
}
/* Layout
------------------------------ */
.site-wrapper {
  position: relative;
  min-width: 1180px;
}
/* Sidebar switching
------------------------------ */
.site-sidebar--collapse {
  .el-menu.site-sidebar__menu,
  .site-navbar__brand,
  .site-navbar__header,
  .site-sidebar,
  .site-sidebar__inner {
    width: 64px;
  }

  .site-content__wrapper,
  .site-navbar__body {
    margin-left: 64px;
  }

  .site-navbar__brand {
	 
    &-lg {
      display: none;
	   font-size: 26px;
    }

    &-mini {
      display: inline-block;
    }
  }

  .site-sidebar,
  .site-sidebar__inner {
    overflow: initial;
  }

  .site-sidebar__menu-icon {
    margin-right: 0;
    font-size: 20px;
	height: 2em;
  }

  .site-content--tabs > .el-tabs > .el-tabs__header {
    left: 64px;
  }

  .t-form-footer {
    z-index: 1000;
    left: 64px !important;
	width: calc(100% - 64px)  !important;
  }
}
// animation

.site-content--tabs > .el-tabs .el-tabs__header,
.site-content__wrapper,
.site-navbar__body,
.site-navbar__brand,
.site-navbar__header,
.site-sidebar,
.site-sidebar__inner,
.site-sidebar__menu-icon,
.site-sidebar__menu.el-menu {
  transition: inline-block 0.3s, left 0.3s, width 0.3s, margin-left 0.3s, font-size 0.3s;
}
/* Navbar
------------------------------ */
.site-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 82.5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
  background-color: $navbar--background-color;

  &--inverse {
    .site-navbar__body {}

    .el-menu {
       > .el-menu-item,
      > .el-submenu .el-submenu__title {
        color: #fff;

        &:focus,
        &:hover {
          color: #fff;
          background-color: mix(#000, $--color-primary, 15%);
        }
      }

       > .el-menu-item.is-active,
      > .el-submenu.is-active .el-submenu__title {
        border-bottom-color: mix(#fff, $--color-primary, 85%);
      }

      .el-dropdown,
      .el-menu-item i,
      .el-submenu__title i {
        color: #fff;
      }
    }

    .el-menu--popup-bottom-start {
      background-color: $navbar--background-color;
    }
  }

  &__header {
    position: relative;
    float: left;
    width: 260px;
    height: 50px;
    overflow: hidden;
  }

  &__brand {
    display: table-cell;
    vertical-align: middle;
    width: 280px;
    height: 50px;
    margin: 0;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;

    &-lg,
    &-mini {
      margin: 15px 20px;
      color: #fff;
		  font-size: 21px;
      &:focus,
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

    &-mini {
      display: none;
    }
  }

  &__switch {
    font-size: 18px;
    border-bottom: none !important;
  }
  &__breadcrumb {
    border-bottom: none !important;
  }
  &__avatar {
    border-bottom: none !important;

    * {
      vertical-align: inherit;
    }

    .el-dropdown-link {
      > img {
        width: 36px;
        height: auto;
        margin-right: 5px;
        border-radius: 100%;
        vertical-align: middle;
      }
    }
	.site-sidebar__menu-icon {
		height: 2em;
	}
  }

  &__body {
    position: relative;
    margin-left: 280px;
    padding-right: 15px;
    background-color: #fff;
  }

  &__menu {
    float: left;
    background-color: transparent;
    border-bottom: 0;
	color: #000000;
    &--right {
      float: right;
    }

    a:focus,
    a:hover {
      text-decoration: none;
    }

    .el-menu-item,
    .el-submenu .el-submenu__title {
      height: 50px;
      line-height: 50px;
	  
    }

    .el-submenu > .el-menu {
      top: 55px;
    }

    .el-badge {
      display: inline;
      z-index: 2;
			color: #FFFFFF;
      &__content {
        line-height: 16px;
      }
    }
  }
}
/* Sidebar
------------------------------ */
.site-sidebar {
  position: fixed;
  top: 82.5px;
  left: 0;
  bottom: 0;
  z-index: 1020;
  width: 280px;
  overflow: hidden;


  &--dark {
    background-color: $sidebar--background-color-dark;

    .site-sidebar__menu.el-menu {
      background-color: $sidebar--background-color-dark;

      .el-menu-item,
      .el-submenu .el-submenu__title {
        color: $sidebar--color-text-dark;
				border-top: 0.5px solid #555555;
        &:focus,
        &:hover {
          color: mix(#fff, $sidebar--color-text-dark, 50%);
          background-color: mix(#fff, $sidebar--background-color-dark, 2.5%);
        }
      }

      .el-menu,
      .el-submenu.is-opened {
        background-color: mix(#000, $sidebar--background-color-dark, 15%);
      }

      .el-menu-item.is-active,
      .el-submenu.is-active .el-submenu__title {
        color: mix(#fff, $sidebar--color-text-dark, 80%);
      }
      .el-menu-item.is-active{
          background-color: $--color-primary;
      }
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    width: 280px;
    height: 100%;
    padding-bottom: 65px;
    overflow-y: scroll;
  }

  &__menu.el-menu {
    width: 280px;
    border-right: 0;
  }
  &__menu.el-menu--horizontal {
   .el-menu-item{
          color: #606266;
     }
  }


  &__menu-icon {
    width: 24px;
    margin-right: 2px;
    text-align: center;
    font-size: 16px;
    color: inherit !important;
  }
}
/* Content
------------------------------ */
.site-content {
  position: relative;
  padding: 15px;

  .t-form-footer {
	z-index: 1000;
    text-align: center;
    margin: 0 auto;
    position: fixed;
      width: calc(100% - 280px);
    left: 280px;
    right: 0;
    bottom: 0;
    padding: 0 10px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .05);
    background-color: #fff;

  }

  &__wrapper {
    position: relative;
    padding-top: 82.5px;
    margin-left: 280px;
    min-height: 100%;
    background: $content--background-color;
  }

  &--tabs {
    padding: 55px 0 0;
  }

  > .el-tabs {
    > .el-tabs__header {
      position: fixed;
      top: 82.5px;
      left: 280px;
      right: 0;
      z-index: 930;
      padding: 0 55px 0 15px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
      background-color: #fff;

      > .el-tabs__nav-wrap {
        margin-bottom: 0;

        &:after {
          display: none;
        }
      }
    }

    > .el-tabs__content {
      padding: 0 15px 15px;

      > .site-tabs__tools {
        position: fixed;
        top: 82.5px;
        right: 0;
        z-index: 931;
        height: 40px;
        padding: 0 12px;
        font-size: 16px;
        line-height: 40px;
        background-color: $content--background-color;
        cursor: pointer;

        .el-icon--right {
          margin-left: 0;
        }
      }
    }
  }
}
/* Dropdown
------------------------------ */
